<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorator="layout">
<head>
<title>User Registration</title>
</head>
<body>

<div>
<div layout:fragment="content">
    <h3>User Registration Form</h3>

    <form th:action="@{/registration}" th:object="${user}" method="post">
    
        <p th:if="${#fields.hasErrors('global')}" th:errors="*{global}" th:class="text-red">Incorrect data</p>
        
        <div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
          <label>Name</label>
          <input type="text" th:field="*{name}"/>
          <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:class="text-red">Incorrect data</p>
        </div>
        
        <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
          <label>Email</label>
          <input type="text" th:field="*{email}"/>
          <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:class="text-red">Incorrect data</p>
        </div>
        
        <div class="form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error'">
          <label>Password</label>
          <input type="password" th:field="*{password}"  placeholder="Enter password"/>
          <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:class="text-red">Incorrect data</p>
        </div>
               
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
</div>
</body>
</html>