<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
      
      <head>
        <title>SpringBoot</title>
    </head>
    <body>
    	<h1>Users</h1>
    	<hr/>
    	<div th:each="user : ${users}">
    		<h2>Name: <span th:text="${user.name}">Name</span></h2>
    		<h4>Addresses</h4>
    		<div th:each="addr : ${user.addresses}">
    			<p th:text="${addr.city}">City</p>
    		</div>	
    	</div>
    	
    	<h1>Orders</h1>
    	<hr/>
    	<div th:each="order : ${orders}">
    		<h2>Customer Name: <span th:text="${order.customerName}">customerName</span></h2>
    		<h4>Order Items</h4>
    		<div th:each="item : ${order.orderItems}">
    			<p th:text="${item.productCode}">productCode</p>
    		</div>	
    	</div>
    	
    </body>
    
</html>